VITE_CLERK_PUBLISHABLE_KEY=
VITE_GRAPHQL_URL=https://api.sit.yousee.vn/bff-tenant/graphql
VITE_WS_URL=wss://api.sit.yousee.vn/bff-tenant/ws
VITE_LIVEKIT_URL=wss://livekit.nonprod.tooling.systematicfunctions.com
